<section ng-controller="ContaCadastroController">
      <h4 class="ui top attached header">Dados da sua Conta</h4>
      <div class="ui fluid form attached segment" ng-class="{'loading':FormLoad}">
        <div class="field">
          <label>Categoria de Conta</label>
          <div class="ui input">
                <select class="ui dropdown">
                        <option value="">Selecione uma categoria</option>
                        <option ng-repeat="categoria in CategoriasDeConta" value="{{ categoria._id }}">{{ categoria.Nome }}</option>
                </select>
            </div>
        </div>

        <div class="field">
          <label>Nome</label>
          <div class="ui icon input">
              <input type="text" placeholder="Último Nome" id="UltimoNome" name="UltimoNome" ng-model="Credenciais.UltimoNome">
            </div>
        </div>

        <div class="six wide field">
            <label>Descrição</label>
            <div class="ui icon input">
                <textarea rows="2" placeholder="Descrição" style="margin-top: 0px; margin-bottom: 0px; height: 58px;"></textarea>
            </div>
        </div>

        <div class="six wide field">
          <label>Cor</label>
          <div class="ui icon input">
                <div class="ui selection dropdown">
                        <input type="hidden" name="cor">
                        <i class="dropdown icon"></i>
                        <div class="default text">Selecione uma cor...</div>
                        <div class="menu">
                                <div class="item" data-value="red">
                                        <span class="ui red empty circular label"></span>
                                        Vermelho
                                </div>
                                <div class="item" data-value="orange">
                                        <span class="ui orange empty circular label"></span>
                                        Laranja
                                </div>
                                <div class="item" data-value="yellow">
                                        <span class="ui yellow empty circular label"></span>
                                        Amarelo
                                </div>
                                <div class="item" data-value="green">
                                        <span class="ui green empty circular label"></span>
                                        Verde
                                </div>
                                <div class="item" data-value="teal">
                                        <span class="ui teal empty circular label"></span>
                                        Teal
                                </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="six wide field">
                <label>Saldo Inicial</label>
                <div class="ui labeled input">
                <div class="ui label">
                        R$
                </div>
                        <input type="text" placeholder="0,00">
                </div>
        </div>

        <div class="ui divider"></div>
        <div class="ui right floated small teal labeled icon button" ng-click="Enviar()">
            <i class="save icon"></i> Salvar
        </div>
        <div class="ui right floated small red labeled icon button">
            <i class="cancel icon"></i> Cancelar
        </div>      
      </div>
</section>