<aside class="ui vertical inverted visible sidebar menu bg-wet-asphalt" ng-class="{ 'sidebar-narrow': Menus.Modo.Contraido }">
	<div class="item">
		<div class="profile">
			<a href="#">
				<img ng-src="/Images/{{ Usuario.Imagem }}">
				<div class="user-info">
					<strong class="header">{{ Usuario.Nome }}</strong>
					<div class="description">
						<small>{{ Usuario.Descricao }}</small>
					</div>
				</div>
				<i class="right angle icon"></i>
			</a>
		</div>
	</div>
	
	<a class="item" ng-repeat="Menu in Menus.Itens" ng-href="{{ Menu.Link }}">
		<i class="{{ Menu.Class }} icon"></i> <span>{{ Menu.Titulo }}</span>
	</a>
</aside>