<div class="ui fixed inverted main menu bg-mountain-meadow">
	<div class="container">
		<div class="icon item">
			<div class="menu-content" ng-click="AlternarModoDoMenu()">
				<i class="content icon"></i>
			</div>
		</div>				
		<div class="title item">
			<h4 class="ui header">
				Auckland
				<p class="sub header"><small>Gerenciador Financeiro</small></p>
			</h4>
		</div>
  	</div>
  		<div class="right menu">
		    <div class="item">
				<div class="ui buttons" ng-hide="Authentication">
					<a href="/#!/Acessar" class="ui purple button">Já sou usuário</a>
					<div class="or"></div>
					<a href="/#!/Cadastrar" class="ui blue button">Criar conta</a>
				</div>				
			</div>
			<div class="ui dropdown item" ng-show="Authentication">
				{{ Authentication.NomeCompleto }}
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="header">Usuário</div>
					<a href="/#!/Configuracoes/Perfil" class="item">Perfil</a>
					<a href="/#!/Mensagens" class="item">Mensagens</a>
					<div class="divider"></div>
					<div class="header">Gerenciar</div>
					<a href="/#!/Configuracoes/Preferencias" class="item">Preferências</a>
					<a href="/#!/Sair" class="item">Sair</a>
				</div>
			</div>		
		</div>
</div>