<div class="ui main menu inverted bg-midnight-black">
	<div class="container">
		<div class="icon item">
			<div class="menu-content" ng-click="AlternarModoDoMenu()">
				<i class="content icon"></i>
			</div>
		</div>
  	</div>
	<div class="ui fluid item menu">
		<h3 class="item">{{ Header.Titulo }}</h3>
	</div>
	<div class="right menu bg-scarlet">
		<div class="item" ng-hide="Authentication">
			<div class="ui buttons">
				<a href="/#!/Acessar" class="ui purple button">Já sou usuário</a>
				<div class="or"></div>
				<a href="/#!/Cadastrar" class="ui blue button">Criar conta</a>
			</div>				
		</div>
		<div class="item" ng-show="Authentication">
			<strong>{{ Authentication.NomeCompleto | initials }}</strong>			
		</div>
	</div>
</div>
<div class="ui tiny attached progress" data-percent="{{ ProgressBar }}">
	<div class="bar bg-emerald" style="transition-duration: 300ms; width: {{ProgressBar}}%;"></div>
</div>