<div class="ui sidebar visible bg-midnight-black" ng-class="{ 'sidebar-narrow': Menus.Modo.Contraido }" ng-if="Menus.ShouldRender(Authentication);" ng-animate="'animate'">
  <div class="row ui main fluid bg-turquoise vertical inverted menu">
		<div class="title item">
			<h4 class="ui header">
				Auckland
				<p class="sub header"><small>Gerenciador Financeiro</small></p>
			</h4>
		</div>
  </div>
  <div class="row ui fluid three labeled center aligned icon menu inverted fast-access">
      <a class="item" href="/#!/">
        <i class="home icon"><div class="icon-label"></div></i>
      </a>
      <a class="item" href="/#!/">
        <i class="lab icon"></i>
      </a>
      <a class="item" href="/#!/">
        <i class="power icon"></i>
      </a>
  </div>  
  <div class="ui fluid vertical inverted menu bg-midnight-black">
    <div class="item">
      <div class="header border-pomegranate">
        Análise
      </div>
      <div class="menu border-pomegranate">
        <a class="item" href="/#!/Dashboard"><i class="area chart icon"></i> Dashboard</a>
        <a class="item" href="/#!/Relatorios"><i class="calculator icon"></i>Relatórios</a>
        <a class="item" href="/#!/Historico"><i class="history icon"></i>Histórico</a>
      </div>
    </div>
  <div class="item">
    <div class="header border-carrot">
      Gerenciamento
    </div>
    <div class="menu border-carrot">
      <a class="item" href="/#!/Projetos"><i class="lab icon"></i>Projetos</a>
      <a class="item" href="/#!/Receitas"><i class="sign in icon"></i> Receitas</a>
      <a class="item" href="/#!/Despesas"><i class="sign out icon"></i> Despesas</a>
      <a class="item" href="/#!/Contas"><i class="university icon"></i>Contas</a>    
    </div>
  </div>    
  <div class="item">
    <div class="header border-amethyst">
      Configurações
    </div>
    <div class="menu border-amethyst">
      <a class="item" href="/#!/Opcoes"><i class="options icon"></i>Opções</a>
      <a class="item" href="/#!/Usuario/Preferencias"><i class="idea icon"></i>Preferências</a>
    </div>
  </div>
  <div class="item">
    <div class="header border-wet-asphalt">
      Usuário
    </div>
    <div class="menu border-wet-asphalt">
      <a class="item" href="/#!/Perfil"><i class="child icon"></i>Perfil</a>
      <a class="item" href="/#!/Mensagens"><i class="comment outline icon"></i>Mensagens</a>
      <a class="item" href="/#!/Usuario/Logout"><i class="power icon"></i>Sair</a>
    </div>
  </div>
</div>