header.navbar {
	min-height: 60px;
	border-color: #080808;
}

header.navbar .container div.icon .menu-content {
	padding: 5px;
	border: 1px solid transparent;
	cursor: pointer;
}

header h4.ui.header,
header h4.ui.header > .sub.header {
	color: #FFF;
}

header.navbar .container div.icon .menu-content:hover {
	border: 1px solid #FFF;
}

header.navbar .container div.right.menu .item {
	padding: 19px;
}

header.navbar .container div.right.menu .buttons {
	padding: 8px;
}

header.navbar .container div.right.menu {
	height: 53px;
}

.main-content > aside.sidebar.menu {
	margin-top: 60px !important;
	width: 240px;
}

.main-content > aside.sidebar.menu a.item:hover {
	color: #fff;
	border-left: 3px solid #e67e22;
	background-color: #2c3e50 !important;
}

.main-content > section.container {
	position: relative;
	margin: 0 25px 0 25px;
}

.main-content > aside.sidebar + section.container {
	margin: 0 25px 0 265px;
}

.menu.vertical .item:first-child {
	background-color: #2c3e50 !important;
}

.main-content > aside.sidebar.menu .profile {
	display: inline-block;
	width: 100%;
	cursor: pointer;
}

.main-content > aside.sidebar.menu .profile a > i {
	float: right;
	color: #FFF;
	margin: 15px 0;
}

.main-content > aside.sidebar.menu .profile > a img {
	width: 48px;
	display: block;
	float: left;
}

.main-content > aside.sidebar.menu .profile .user-info {
	margin-left: 12px;
	float: left;
	color: #FFF;
	font-weight: 400;
	margin-top: 8px;
}

.main-content > aside.sidebar.menu.sidebar-narrow {
	margin-top: 60px !important;
	width: 56px;
}

.main-content > aside.sidebar.menu.sidebar-narrow .item span,
.main-content > aside.sidebar.menu.sidebar-narrow .profile .user-info,
.main-content > aside.sidebar.menu.sidebar-narrow .profile i.icon {
	display: none;
}

.main-content > aside.sidebar.menu.sidebar-narrow .item:first-child {
	padding: 10px 5px;
}

.main-content > aside.sidebar.menu.sidebar-narrow .item {
	padding: 15px 3px 16px 0;
	width: 100%;
	text-align: center;
	min-height: 50px;
}

.main-content > aside.sidebar.menu a.item {
	padding: 13px 40px 14px 14px;
	font-size: 16px;
}

.main-content > aside.sidebar.menu .item i.icon {
	position: absolute;
	right: 12px;
	opacity: 0.8;
	font-size: 1.35em;
}

.main-content > aside.sidebar.menu.sidebar-narrow .item .icon {
  	position: static;
	width: 100%;
	margin: 0em;
	font-size: 1.35em;
	display: block;
}

.main-content > aside.sidebar.menu.sidebar-narrow .profile > a img {
	width: 38px;
}

.main-content > aside.sidebar-narrow + section.container {
  margin-left: 80px;
}

textarea {
    resize: none !important;
}

header .page-title {
	float: left;
}

header .page-title h2.ui.header {
	margin: 0;
	font-weight: 400;
	line-height: 20px;
}

header .page-info {
	float: right;
	cursor: pointer;
}

header .page-info .date-range {
	float: left;
}

header .page-info .date-range > i {
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

header .page-info .date-range b {
  display: inline-block;
  margin-top: 2px;
  margin-left: 4px;
  font-weight: 400;
}

header .page-info .date-range b > i {
  font-size: 11px;
  font-weight: 600;
  color: #777;
  display: block;
  line-height: 14px;
  text-transform: uppercase;
  font-style: normal;
}

header .page-info .date-range em {
  line-height: 30px;
  vertical-align: top;
  margin: 0 6px 0 10px;
}

header .page-info .range .label {
  margin: 5px 0 0 8px;
  display: inline-block;
}

.info-status {
	float: left;
	margin: 4px 0px 0px 6px;
}

section.container > section {
  padding: 18px 0;
}

.message-queue {
	position: fixed;
	margin: 5px;
	right: 0;
	width: 30%;
	z-index: 100;
}

.message-queue > div.message {
	margin-bottom: 5px;
	margin-top: 0em;	
}

.message-queue .ng-enter.ng-enter-active, 
.message-queue .ng-leave,
.message-queue .ng-hide-animate {
    top: 0px;
	opacity: 1;
	-webkit-transition: 400ms linear all;
    -moz-transition: 400ms linear all;
    -ms-transition: 400ms linear all;
    -o-transition: 400ms linear all;
    transition: 400ms linear all;
}

.message-queue .ng-hide-animate ~ .message {
    top: 0px;
	-webkit-transition: 400ms linear all;
    -moz-transition: 400ms linear all;
    -ms-transition: 400ms linear all;
    -o-transition: 400ms linear all;
    transition: 400ms linear all;
}

.message-queue .ng-leave.ng-leave-active,
.message-queue .ng-enter,
.message-queue .ng-hide.ng-hide-add-active {
    top: -50px;
	opacity: 0;
	-webkit-transition: 400ms linear all;
    -moz-transition: 400ms linear all;
    -ms-transition: 400ms linear all;
    -o-transition: 400ms linear all;
    transition: 400ms linear all;
}

.message-queue .ng-hide.ng-hide-add-active ~ .message {
    top: -70px;
	-webkit-transition: 400ms linear all;
    -moz-transition: 400ms linear all;
    -ms-transition: 400ms linear all;
    -o-transition: 400ms linear all;
    transition: 400ms linear all;
}